* {
    margin: 0;
    padding: 0;
    color: dimgrey;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.img1, .img2, .img3 {
    border: 2px solid silver;
    padding: 20px 15px 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 40px;
}

img {
    height: 25px;
    width: 35px;
}

.img1 {
    left: 320px;
}

.img2 {
    left: 670px;
}

.img3 {
    left: 1020px;
}

.cards {
    padding: 5%;
    display: flex;
    width: 1000px;
    column-gap: 50px;
    justify-content: space-between;
}

.card {
    border: 2px solid silver;
    width: 300px;
    padding: 60px 40px 30px;
    align-content: center;
    text-align: center;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.p {
    height: 100px;
    font-size: 18px;
}

button {
    border: 1px solid black;
    padding: 10px 70px;
}